<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../../partials/navigation.ejs') %>
        <main>
            <% if(cartProd.length > 0) { %>
                <ul class="cart__item-list">
                    <% cartProd.forEach(cartSingleProd => { %>
                        <li class="cart__item">
                            <p>
                                <%= cartSingleProd.title %> (<%= cartSingleProd.CartItem.quantity %>)
                            </p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= cartSingleProd.id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="post">
                        <button class="btn" type="submit">Order Now!</button>
                    </form>
                </div>
            <% } else { %>
                <h1>Your Cart is empty!</h1>
            <% } %>
        </main>
        <%- include('../../partials/end.ejs') %>